<div class="container mt-5 text-center">
  <h3 class="mb-5">Image Crop</h3>

  <div class="col-md-12">
    <input type="file" name="name" id="name" (change)="onFileChange($event)" />
  </div>

  <div class="col-md-8">
    <image-cropper
      [imageChangedEvent]="imgChangeEvent"
      [maintainAspectRatio]="false"
      [aspectRatio]="4 / 3"
      [resizeToWidth]="300"
      formate="png"
      (imageCropped)="cropImg($event)"
      (imageLoaded)="imgLoad()"
      (cropperReady)="initCropper()"
      (loadImageFailed)="imgFailed()"
    >
    </image-cropper>

    <div class="col-md-4 mb-3">
      <h6>Image Preview</h6>
      <img [src]="cropImgPreview" />
    </div>
  </div>

  <button class="btn btn-success m-3" (click)="compressFile()">
    Compress Image
  </button>

  <div class="d-flex flex-column justify-content-center aling-items-center">
    <img
    class="col-md-12 mt-2"
    [src]="imgResultBeforeCompress"
    *ngIf="imgResultBeforeCompress"
    />
    <img
    class="col-md-8 mt-2"
    [src]="imgResultAfterCompress"
    *ngIf="imgResultAfterCompress"
    />
    
  </div>
</div>
